body{
  margin:10px;
}

input{
  margin:10px;
}

.crop-editor{
margin-top: 10px;
}

#cropped-image{
  height:187px;
  width:360px;
  
  border:1px dotted grey;
  padding:1px;
  float:right;
}
#cropped-image img{
  max-height:187px;
  max-width:360px;
}